<%= form_for([@restaurant, @review]) do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<div>
  <%= f.label :content %>
  <%= f.text_field :content %>
</div>

<div>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
</div>

<%= f.submit %>


<% end %>
